body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: white;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

#projects .project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#contact a {
    color: #0077b5; /* LinkedIn Blue */
    font-weight: bold;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

#projects h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#projects ul {
    list-style-type: disc;
    padding-left: 20px;
}

#projects li {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}
